/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* !!!!!!! cache issue css !!!!!!!  do not remove below (line-no 2840) css and also do not do any changes in below this css */

.display_none{display:none;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
	display: none !important;
}
.links-hover .fl-module .fl-module-content .fl-rich-text p a:hover,
.links-hover .fl-module .fl-module-content .storename li a:hover,
.links-hover .fl-rich-text li a:hover strong {
    color: #000!important;
}

.fl-node-5d08ac826d1db {
	color: #ffffff;
}
.fl-builder-content .fl-node-5d08ac826d1db *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-5d08ac826d1db a {
	color: #ffffff;
}

.fl-builder-content .fl-node-5d08ac826d1db a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-5d08ac826d1db h1,
.fl-builder-content .fl-node-5d08ac826d1db h2,
.fl-builder-content .fl-node-5d08ac826d1db h3,
.fl-builder-content .fl-node-5d08ac826d1db h4,
.fl-builder-content .fl-node-5d08ac826d1db h5,
.fl-builder-content .fl-node-5d08ac826d1db h6,
.fl-builder-content .fl-node-5d08ac826d1db h1 a,
.fl-builder-content .fl-node-5d08ac826d1db h2 a,
.fl-builder-content .fl-node-5d08ac826d1db h3 a,
.fl-builder-content .fl-node-5d08ac826d1db h4 a,
.fl-builder-content .fl-node-5d08ac826d1db h5 a,
.fl-builder-content .fl-node-5d08ac826d1db h6 a {
	color: #ffffff;
}

.fl-node-5d08ac826d1db .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5d08ac826d1db .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5d08ac826d1db .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5d08ac826d1db > .fl-row-content-wrap {
	background-color: #2765a1;
}
.fl-node-5d08ac826d1db .fl-row-content {
	max-width: 1260px;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .fl-node-5d08ac826d1db > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}
@media ( max-width: 768px ) {
 .fl-node-5d08ac826d1db.fl-row > .fl-row-content-wrap {
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
}
}




.fl-node-5d5e70ed6e1b6 {
	width: 8%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5d08ac826d1d2 {
	width: 20.02%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
@media ( max-width: 768px ) {
 .fl-node-5d08ac826d1d2.fl-col > .fl-col-content {
	padding-right:20px;
	padding-left:20px;
}
}




.fl-node-5d08ac826d1d3 {
	width: 63.98%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5d5e714f61634 {
	width: 8%;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}




.fl-node-5d08ac826d1d9 {
	width: 100%;
}
.fl-node-5d08ac826d1d9 > .fl-col-content {
	background-color: #c9c1b4;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
.fl-node-5d5e70f7d940b .fl-rich-text strong {
	font-weight: bold;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
@media ( max-width: 768px ) {
 .fl-node-5d5e70f7d940b.fl-module > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
}
@media (max-width: 768px) { /* Mobile Photo */
.fl-photo-content {
	width: 100%;
} }@media ( max-width: 768px ) {
 .fl-node-5d5e756ed1fd1.fl-module > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
}
@media (max-width: 768px) { .fl-module-icon {
	text-align: center;
}
 }


.searchIcon .fl-module-content .fl-icon i, .searchIcon .fl-module-content .fl-icon i:before {
	font-size: 30px;
}
.searchIcon .fl-module-content .fl-icon-text {
	height: 52.5px;
}
.searchIcon.fl-module-icon {
	text-align: right;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .searchIcon > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
/* UABB Advanced Menu */

.uabb-creative-menu ul,
.uabb-creative-menu li {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
	content: '';
	display: table;
	clear: both;
}
.bottom-pager .facetwp-pager {
    float: none;
    text-align: right;
}
.product-colors ul li.found {
    margin-right: 5px;
}
/*  Horizontal Menu */

.uabb-creative-menu .menu {
	position: relative;
	padding-left: 0;
}
.uabb-creative-menu li {
	position: relative;
}
.uabb-creative-menu a {
	display: block;
	line-height: 1;
	text-decoration: none;
}
.uabb-creative-menu .menu a {
    box-shadow: none;
}
.uabb-creative-menu a:hover {
	text-decoration: none;
}
.uabb-creative-menu .sub-menu {
	min-width: 220px;
    margin: 0;
}
.uabb-creative-menu-horizontal {
    font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
    font-size: medium;
}
.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a > span.menu-item-text {
    display: inline-block;
}

/* Expanded Menu */

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
	outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
	position: relative;
}

/* Submenu - accordion, expanded */

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu > .sub-menu {
	display: none;
}

/* Toggle - General */

.uabb-creative-menu .uabb-menu-toggle {
	cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
	border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
	display: none;
}

/* Mobile menu - Hamburger icon */

.uabb-creative-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
	cursor: pointer;
    display: inline-block;
    z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
	width: 100%;
	text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
	fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
	width: 20px;
	height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: block;
    z-index: 99;
}

/* Overlay */

.uabb-creative-menu .uabb-menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay > ul.menu {
	text-align: center;
    position: relative;
    top: 50%;
	width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
	opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
	opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
	visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
	visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
	visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
	visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
 
.uabb-creative-menu .uabb-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
	visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door > ul.menu {
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a > span {
	padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
	position: absolute;
    display: block;
	width: 55px;
    height: 45px;
	right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
	font-size: 30px;
	cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	content: '';
	position: absolute;
	left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
	-webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

/* Off Canvas */

.uabb-creative-menu .uabb-off-canvas-menu .menu {
	margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.0);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu .menu > li > a,
.uabb-creative-menu .menu > li > .uabb-has-submenu-container a {
    outline: 0;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
	visibility: visible;
	opacity: 1;
}

@media ( max-width: 992px ) {
	.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
		right: 20px;
	    top: 20px;
	}
}
/* Menu alignment */

.quick-links .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.quick-links .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.quick-links .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.quick-links .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.quick-links .uabb-creative-menu .menu > li {

	margin-top: 5px;margin-bottom: 5px;margin-left: 5px;margin-right: 5px;}


	.quick-links .uabb-creative-menu .uabb-menu-toggle:before {
		content: '\f107';
		font-family: 'Font Awesome 5 Free';
		z-index: 1;
		font-size: inherit;
		line-height: 0;
		font-weight: 900;
	}
	
			.quick-links .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.quick-links .uabb-creative-menu li:first-child {
		border-top: none;
	}

						@media only screen and ( max-width: 768px ) {
		
			.quick-links .uabb-creative-menu .menu {
				margin-top: 20px;
			}
			.quick-links .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,
			.quick-links .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
				display: block;
			}
			.quick-links .uabb-creative-menu .menu {
				text-align: center;
			}
			.quick-links .uabb-creative-menu .menu > li {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
			
			
					.quick-links .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
					.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
						padding-left: 10px;
						float: right;
					}
					.quick-links .uabb-creative-menu .menu .uabb-menu-toggle {
						padding-left: 10px;
						float: right;
					}

			
			
				}
			
	
	
	
			@media only screen and ( min-width: 769px ) {

							.quick-links .menu > li {
				display: inline-block;
			}

			.quick-links .menu li {
				border-left: none;
				border-top: none;
			}
			.quick-links .menu li li {
				border-top: none;
				border-left: none;
			}

			.quick-links .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.quick-links .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.quick-links .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.quick-links .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				display: block;
			}

			.quick-links .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.quick-links .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
			}

			.quick-links .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.quick-links .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

			
			
							.quick-links .uabb-creative-menu-mobile-toggle {
					display: none;
				}
			
				}

		.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > a,
.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

.quick-links .uabb-creative-menu .menu > li > a,
.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	}

.quick-links .uabb-creative-menu .menu > li > a,
.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.quick-links .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.quick-links .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#c6a337;
	}


				.quick-links .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.quick-links .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #c6a337;
		}
		


/* Sub-menu */
.quick-links .uabb-creative-menu .sub-menu > li > a,
.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;
	background-color: #ffffff;
}

.quick-links .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 220px;
}

.quick-links .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #767676;
}

.quick-links .uabb-creative-menu .sub-menu > li {
	}

.quick-links .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.quick-links .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.quick-links .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.quick-links .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.quick-links .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
	}




.quick-links .uabb-creative-menu .sub-menu {
	}


.quick-links .uabb-creative-menu .sub-menu > li:last-child > a,
.quick-links .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.quick-links .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.quick-links .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.quick-links .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.quick-links .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #323232;
}

.quick-links .uabb-creative-menu .sub-menu > li > a:hover,
.quick-links .uabb-creative-menu .sub-menu > li > a:focus,
.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: rgba(0,0,0,0.04);
}


				.quick-links .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.quick-links .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #767676;
		}
		

				.quick-links .uabb-creative-menu .uabb-toggle-arrows .sub-menu li:hover .uabb-menu-toggle:before,
		.quick-links .uabb-creative-menu .uabb-toggle-none .sub-menu li:hover .uabb-menu-toggle:before {
			color: #323232;
		}
		
/* Toggle button */
	.quick-links .uabb-creative-menu-mobile-toggle {
			}
	.quick-links .uabb-creative-menu-mobile-toggle-container,
	.quick-links .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: center;
	}
	.quick-links .uabb-creative-menu-mobile-toggle rect {
		fill: #c6a337;	}


		@media only screen and ( max-width: 768px ) {
	
	.quick-links .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.quick-links .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.quick-links .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.quick-links .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
				}
	
@media only screen and (max-width: 992px) {

	.quick-links .uabb-creative-menu-mobile-toggle-container,
	.quick-links .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
	
	}
	.quick-links .uabb-creative-menu .menu > li {
				}

	.quick-links .uabb-creative-menu.off-canvas .menu > li > a,
	.quick-links .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.quick-links .uabb-creative-menu.full-screen .menu > li > a,
	.quick-links .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.quick-links .uabb-creative-menu .sub-menu > li > a,
	.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.quick-links .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
			.quick-links .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.quick-links .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
	}

@media only screen and (max-width: 768px) {

	.quick-links .uabb-creative-menu-mobile-toggle-container,
	.quick-links .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.quick-links .uabb-creative-menu .menu > li {
			}

	.quick-links .uabb-creative-menu.off-canvas .menu > li > a,
	.quick-links .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.quick-links .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.quick-links .uabb-creative-menu.full-screen .menu > li > a,
	.quick-links .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.quick-links .uabb-creative-menu .sub-menu > li > a,
	.quick-links .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.quick-links .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.quick-links .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.quick-links .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				float: right;
			}
			.quick-links .uabb-creative-menu .menu .uabb-menu-toggle {
				float: right;
			}

	
	}

@media only screen and (max-width: 992px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/



/***************************** Off Canvas **********************************/
.quick-links .uabb-creative-menu .menu > li > a,.quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-weight: 400;
	text-transform: uppercase;
}
.quick-links .uabb-creative-menu .menu > li > a, .quick-links .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	border-style: none;
	border-width: 0;
	background-clip: padding-box;
}
.quick-links .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .quick-links .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.quick-links .uabb-creative-menu-mobile-toggle {
	font-weight: 400;
	text-transform: uppercase;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .quick-links > .fl-module-content {
	margin-top:17px;
	margin-right:60px;
	margin-bottom:7px;
}
@media (max-width: 768px) { .quick-links > .fl-module-content { margin-right:20px; } }.quick-links ~ div.fl-module-separator  .fl-separator {
	border-top:1px solid #cccccc;
	max-width: 100%;
	margin: auto;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .quick-links ~ div.fl-module-separator  > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}

/* Menu alignment */

.main-menu .uabb-creative-menu .menu {
	text-align: right;
}

	.uabb-creative-menu-expanded ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li a,
	.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
		text-indent: 20px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
		text-indent: 30px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
		text-indent: 40px;
		direction: rtl;
	}
	.uabb-creative-menu-expanded ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li a,
	.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
	.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
		text-indent: 50px;
		direction: rtl;
	}




		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,
		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
		.main-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
			padding-left: 10px;
			float: right;
		}
	
	
	

/**
* Overall menu styling
*/

.main-menu .uabb-creative-menu .menu > li {

	margin-top: 5px;margin-bottom: 5px;margin-left:10px;margin-right: 5px;}


	.main-menu .uabb-creative-menu .uabb-menu-toggle:before {
		content: '\f107';
		font-family: 'Font Awesome 5 Free';
		z-index: 1;
		font-size: inherit;
		line-height: 0;
		font-weight: 900;
	}
	
			.main-menu .menu .uabb-has-submenu .sub-menu {
			display: none;
		}
	
	.main-menu .uabb-creative-menu li:first-child {
		border-top: none;
	}

						@media only screen and ( max-width: 768px ) {
		
			.main-menu .uabb-creative-menu .menu {
				margin-top: 20px;
			}
			.main-menu .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,
			.main-menu .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
				display: block;
			}
			.main-menu .uabb-creative-menu .menu {
				text-align: center;
			}
			.main-menu .uabb-creative-menu .menu > li {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
			
			
					.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
					.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
						padding-left: 10px;
						float: right;
					}
					.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
						padding-left: 10px;
						float: right;
					}

			
			
				}
			
	
	
	
			@media only screen and ( min-width: 769px ) {

							.main-menu .menu > li {
				display: inline-block;
			}

			.main-menu .menu li {
				border-left: none;
				border-top: none;
			}
			.main-menu .menu li li {
				border-top: none;
				border-left: none;
			}

			.main-menu .menu .uabb-has-submenu .sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 16;
				visibility: hidden;
				opacity: 0;
				text-align:left;
				transition: all 300ms ease-in;
			}

			.main-menu .uabb-has-submenu .uabb-has-submenu .sub-menu {
				top:  0;
				left: 100%;
			}

					
				
			.main-menu .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.main-menu .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				display: block;
			}

			.main-menu .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
			.main-menu .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
				visibility: visible;
				opacity: 1;
			}

			.main-menu .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 100%;
				left: inherit;
				right: 0;
			}

			.main-menu .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
				top: 0;
				left: inherit;
				right: 100%;
			}

			
			
							.main-menu .uabb-creative-menu-mobile-toggle {
					display: none;
				}
			
				}

		.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
	padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

.main-menu .uabb-creative-menu .menu > li > a,
.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	}

.main-menu .uabb-creative-menu .menu > li > a,
.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {

	}

.main-menu .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,
.main-menu .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {
	width: 100%;
			color:#ffffff;
	}


				.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
			color: #ffffff;
		}
		

				.main-menu .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
			color: #c6a337;
		}
			
	.main-menu .uabb-creative-menu .menu > li > a:hover,
	.main-menu .uabb-creative-menu .menu > li > a:focus,
	.main-menu .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a {
					background-color: #e2e2e2;
			}

	.main-menu .uabb-creative-menu .menu > li > a:hover span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li > a:focus span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.focus > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.focus > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color: #c6a337;	}

	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text > i,
	.main-menu .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {
		color: #323232;	}

			.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before {
			color: #c6a337;
		}
		

/* Sub-menu */
.main-menu .uabb-creative-menu .sub-menu > li > a,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;
	background-color: #ffffff;
}

.main-menu .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
	min-width: 220px;
}

.main-menu .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {
	color: #767676;
}

.main-menu .uabb-creative-menu .sub-menu > li {
	}

.main-menu .uabb-creative-menu .sub-menu > li:last-child {
	border-bottom: none;
}
.main-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,
.main-menu .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {
	border-top: none;
}
.main-menu .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,
.main-menu .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {
	}




.main-menu .uabb-creative-menu .sub-menu {
	}


.main-menu .uabb-creative-menu .sub-menu > li:last-child > a,
.main-menu .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {
	border: 0;
}

.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,
.main-menu .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {
	color: #323232;
}

.main-menu .uabb-creative-menu .sub-menu > li > a:hover,
.main-menu .uabb-creative-menu .sub-menu > li > a:focus,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,
.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {
	background-color: #e2e2e2;
}


				.main-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
			color: #767676;
		}
		

				.main-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li:hover .uabb-menu-toggle:before,
		.main-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li:hover .uabb-menu-toggle:before {
			color: #323232;
		}
		
/* Toggle button */
	.main-menu .uabb-creative-menu-mobile-toggle {
			}
	.main-menu .uabb-creative-menu-mobile-toggle-container,
	.main-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: right;
	}
	.main-menu .uabb-creative-menu-mobile-toggle rect {
		fill: #ffffff;	}


		@media only screen and ( max-width: 768px ) {
	
	.main-menu .uabb-creative-menu .uabb-menu-overlay .menu {
		margin-top: 40px;
	}
	.main-menu .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
				}
	
@media only screen and (max-width: 992px) {

	.main-menu .uabb-creative-menu-mobile-toggle-container,
	.main-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {

	}
	.main-menu .uabb-creative-menu .menu > li {
				}

	.main-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.main-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.full-screen .menu > li > a,
	.main-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.main-menu .uabb-creative-menu .sub-menu > li > a,
	.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.main-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
	
	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				padding-left: 10px;
				float: right;
			}

	
	}

@media only screen and (max-width: 768px) {

	.main-menu .uabb-creative-menu-mobile-toggle-container,
	.main-menu .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {
		text-align: ;
	}
	.main-menu .uabb-creative-menu .menu > li {
			}

	.main-menu .uabb-creative-menu.off-canvas .menu > li > a,
	.main-menu .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > a,
	.main-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
			}

	.main-menu .uabb-creative-menu.full-screen .menu > li > a,
	.main-menu .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {
			}

	
	.main-menu .uabb-creative-menu .sub-menu > li > a,
	.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {

				}

	
	.main-menu .uabb-creative-menu .uabb-off-canvas-menu {
			}
		.main-menu .uabb-creative-menu .menu {
		text-align: center;
	}

	
	
			.main-menu .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
			.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {
				float: right;
			}
			.main-menu .uabb-creative-menu .menu .uabb-menu-toggle {
				float: right;
			}

	
	}

@media only screen and (max-width: 992px) {
	}

@media only screen and (max-width: 768px) {
	}

/***************************** Overlay *********************************/



/***************************** Off Canvas **********************************/
.main-menu .uabb-creative-menu .menu > li > a,.main-menu .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
	font-weight: 400;
	text-transform: uppercase;
}
.main-menu .uabb-creative-menu .sub-menu > li > a,.main-menu .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {
	font-size: 14px;
}
.main-menu .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .main-menu .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.main-menu .uabb-creative-menu-mobile-toggle {
	font-weight: 400;
	text-transform: uppercase;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
 .main-menu > .fl-module-content {
	margin-right:0px;
}
.fl-node-5d5e714c2f657 .fl-rich-text strong {
	font-weight: bold;
}
@media(max-width: 992px) {
}
@media(max-width: 768px) {
}
@media ( max-width: 768px ) {
 .fl-node-5d5e714c2f657.fl-module > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
}
 .fl-node-5d08ac826d1da > .fl-module-content {
	margin-top:30px;
	margin-right:30px;
	margin-bottom:30px;
	margin-left:30px;
}
@media (max-width: 768px) { .fl-node-5d08ac826d1da > .fl-module-content { margin-top:20px;margin-bottom:20px;margin-left:20px;margin-right:20px; } }
/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */


							.fl-node-5d08ac826d1db .uabb-top-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px );
							}
		
					.fl-node-5d08ac826d1db .uabb-bottom-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px ) ;
							}
		
		.fl-node-5d08ac826d1db #uabb-top-slit2,
		.fl-node-5d08ac826d1db #uabb-top-slit3 {
						fill: #afafaf;
		}

		.fl-node-5d08ac826d1db #uabb-bottom-slit2,
		.fl-node-5d08ac826d1db #uabb-bottom-slit3 {
						fill: #afafaf;
		}

		.fl-node-5d08ac826d1db #uabb-top-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-bottom-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-top-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-bottom-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-top-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-bottom-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-top-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5d08ac826d1db #uabb-bottom-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}


					.fl-node-5d08ac826d1db .uabb-top-row-separator {
			z-index: 9;
		}
							.fl-node-5d08ac826d1db .uabb-bottom-row-separator {
			z-index: 9;
		}
		
		/* Responsive Sizes */
					@media(max-width: 992px) {				
																	.fl-node-5d08ac826d1db .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-5d08ac826d1db .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}

			@media(max-width: 768px) {

								
									.fl-node-5d08ac826d1db .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-5d08ac826d1db .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}
			/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
    color: #333;
}*/

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}






/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.uabb-col-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		
		font-size: 14px;
	
	
	
		text-transform: none;
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
	 
			font-size: 14px;
	
	
	
		text-transform: none;
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint { 
	content:"default"; 
	display:none;
}
@media screen and (max-width: 992px) {
	.uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}
/* !!!!!!!    cache issue css !!!!!!!  do not remove above css and also do not do any changes in above this css */

.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}


.product-colors ul li {
    margin-right: 5px;
}   


.facetwp-selections ul:before {
    content: "YOUR SELECTION";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #c8a836;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #c8a836;
    padding: 5px 5px 5px 0px;
}

.facetwp-selections ul{
    padding-bottom: 20px;
    padding-left: 0;
}

.facet_filters strong {
    color: #c8a836;

}

.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #c8a836;
}

.bottom-pager .facetwp-pager{
    text-align: right;
}









@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav{ flex: auto; position: relative;}

    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu{}
}
@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media(max-width:992px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p{
        text-align: right;
    }
    .searchIcon {
        position: static;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button{
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module > .fl-module-content{
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }    
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;

    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }
}
@media(max-width:992px) and (min-width:767px) {
    .flexViewIpad .fl-col-group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media(max-width: 992px) { 
	.headerMain .fl-col-group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	} 

	.headerMain .fl-col-group .fl-col:first-child {
			width: 100%!important;
			padding: 10px;
	}
	.headerMain .phone.retailer span {
		font-size: 20px;
	}

	.headerMain .fl-col-group .fl-col:nth-child(2) {
			width: 60%!important;
	}
	.headerMain .fl-col-group .fl-rich-text {
		text-align: center;
	}
	.headerMain .phone.retailer:before {
		content: "\f095";
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 20px;
		margin-right: 4px;
	}
}
    @media(max-width:768px) {

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo{
        margin-right: 0;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col{
        width: 50% !important;
    }
    #menu-flooring-menu, #menu-inspiration-menu, #menu-about-us {
        text-align: left;
    }
    
    .headerMain .fl-col-group{
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    h2{
        font-size: 18px;
    }
    .footermenu .menu-item p a{
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon{
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before{
        margin-top: 6px;
    }
}
@media(max-width:480px) {
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group{
        display: block;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col{
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo{
        flex: 5px !important;
    }
    .headerMain .phone.retailer{
        margin-right: 0; 
    }  
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
    .footerCopyright .fl-col * {
        margin: 0;
    }
    .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    }
    ul#menu-copyright-bar-menu li a {
        padding: 7px;
    }
    footer#djcustom-footer , footer .fl-module.fl-module-icon{
        text-align: center;
    }
    footer h2.fl-heading, .fl-node-5d447f48155f4 .fl-button-wrap {
        text-align: center !important;
    }
    #menu-flooring-menu, #menu-inspiration-menu, #menu-about-us {
        text-align: center;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font{
        font-size: 14px;
    }

}

@media(max-width:370px) {
    .fl-page-bar-text-1 font{
         font-size: 11px;
    }
    .fl-page-bar-text-1 i{
        font-size: 16px;
   }
}   


.custom-width  .fl-module-button a:hover{
	color: #c6a337!important;
}

.custom-width  .fl-module-button  a.fl-button:hover{
	background-color: #1763a5!important;
	
}

input[type=checkbox]{
	vertical-align: top!important;
}

.popup-imgs-holder.show a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


#product-images-holder.colorwall-exlusive-batch .img-responsive .main-imgs::after, #product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs::after {
	bottom: 100px!important;
}